# ---------------------------------- #
# --- NSD Authoritative only DNS --- #
# ---------------------------------- #

# $OpenBSD: nsd.conf,v 1.13 2018/08/16 17:59:12 florian Exp $

server:
{% if not (nsd_server_count == '') %}
	server-count: {{(nsd_server_count|int('1'))}}
{% endif %}
{% if (nsd_server_interface == []) %}
	interface: 127.0.0.1
{% else %}
{% for item in nsd_server_interface %}
	interface: {{ item }}
{% endfor %}
{% endif %}
{% if not (nsd_server_port == '') %}
	port: {{ (nsd_server_port|int(53)) }}
{% endif %}

{% if not (nsd_server_chroot == 'false') %}
{% if not (nsd_server_chroot_dir == '') %}
	chroot: "{{ nsd_server_chroot_dir }}"
{% endif %}
{% if not (nsd_server_zonesdir == '') %}
	zonesdir: "{{ nsd_server_zonesdir }}"
{% endif %}
{% if not (nsd_server_zonelistfile == '') %}
	zonelistfile: "{{ nsd_server_zonelistfile }}"
{% endif %}
{% if not (nsd_server_database == '') %}
	database: "{{ nsd_server_database }}"
{% endif %}
{% if not (nsd_server_logfile == '') %}
	logfile: "{{ nsd_server_logfile }}"
{% endif %}
{% if not (nsd_server_pidfile == '') %}
	pidfile: "{{ nsd_server_pidfile }}"
{% endif %}
{% endif %}

{% if not (nsd_server_identity == '') %}
	identity: "{{ nsd_server_identity }}"
{% endif %}
{% if not (nsd_server_log_ascii == 'no') %}
	log-time-ascii: {{ nsd_server_log_ascii }}
{% endif %}
{% if not (nsd_server_log_verbosity == '') %}
	verbosity: {{ nsd_server_log_verbosity }}
{% endif %}

{% if (nsd_control is match('true')) %}
remote-control:
	control-enable: yes
{% if (nsd_control_interface == []) %}
	control-interface: 127.0.0.1
{% else %}
{% for item in nsd_control_interface %}
	control-interface: {{ item }}
{% endfor %}
{% endif %}
{% if not (nsd_control_port == '') %}
	control-port: {{(nsd_control_port|int(8952))}}
{% endif %}
{% if not (nsd_control_srv_key_file == '') %}
	server-key-file: "{{nsd_control_srv_key_file}}"
{% endif %}
{% if not (nsd_control_srv_cert_file == '') %}
	server-cert-file: "{{nsd_control_srv_cert_file}}"
{% endif %}
{% if not (nsd_control_ctl_key_file == '') %}
	control-key-file: "{{nsd_control_ctl_key_file}}"
{% endif %}
{% if not (nsd_control_ctl_cert_file == '') %}
	control-cert-file: "{{nsd_control_ctl_cert_file}}"
{% endif %}
{% else %}
remote-control:
	control-enable: no
{% endif %}

{% if not (nsd_key == []) %}
{% for item in nsd_key %}
key:
	name: "{{item.name}}"
	algorithm: {% if not ((item.algorithm|default('sha256')) == '') %}{{(item.algorithm|default('sha256'))}}{% endif %}

	secret: "{{item.secret}}" 
{% endfor %}
{% endif %}


{% for item in nsd_zone %}
zone:
	name: "{{ item.name }}"
	zonefile: "{{ nsd_zone_src }}/{{ item.name }}.zone"
{% endfor %}
